### 1. Import initial libraries

In [68]:
# Libraries for data collection, manipulation, and exploration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### 2. Import source flat files from github site

In [69]:
# Target Variables
df_gdp = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/GDP_per_cap_PPP.csv')
df_pov = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/Poverty_Pct_Pop.csv')

# CPIA
df_edb = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/Ease_Doing_Business.csv')
df_reg = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/Business_Regulation.csv')
df_gender = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/Gender_Equity.csv')
df_pre = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/Public_Resource_Equity.csv')
df_social = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/Social_Inclusion.csv')
df_tac = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/Transparency_Accountability_Corruption.csv')
df_trdp = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/cpia_trade.csv')

# Government Expenditures
df_health = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/Health_Spend.csv')
df_edu = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/Education_Spend.csv')

#  Financial
df_trdc = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/Trade2.csv')
df_inc2q = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/income_2nd_quintile.csv')
df_inc3q = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/income_3rd_quintile.csv')
df_inc4q = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/income_4th_quintile.csv')
df_inc5q = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/income_5th_quintile.csv')
df_incT10 = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/income_highest_10.csv')

# Other
df_college = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/College_Enrollment.csv')
df_pop = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/population2.csv')

In [90]:
df_pop.head(8)

3,Country Name,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,...,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0
0,Aruba,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,106277.0
1,Africa Eastern and Southern,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,162875171.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,739108306.0
2,Afghanistan,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,10247780.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,42239854.0
3,Africa Western and Central,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,115921723.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,502789511.0
4,Angola,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,5868203.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,36684202.0
5,Albania,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,...,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0,2811666.0,2777689.0,2745972.0
6,Andorra,9443.0,10216.0,11014.0,11839.0,12690.0,13563.0,14546.0,15745.0,17079.0,...,71621.0,71746.0,72540.0,73837.0,75013.0,76343.0,77700.0,79034.0,79824.0,80088.0
7,Arab World,93359407.0,95760348.0,98268683.0,100892507.0,103618568.0,106444103.0,109394536.0,112499764.0,115729597.0,...,397922915.0,406501999.0,415077960.0,423664839.0,432545676.0,441467739.0,449228296.0,456520777.0,464684914.0,473272080.0

### 3. Clean, reshape, standardize dataframe for target variables

In [71]:
'''
GDP Dataframe
'''
# Dropped a footnote column
df_gdp = df_gdp[['Country or Area', 'Year', 'Value']]

# Clean white space for cells, columns and make lower case
df_gdp = df_gdp.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_gdp.columns = df_gdp.columns.str.strip().str.lower()

# Rename column names for standardization across dfs
df_gdp = df_gdp.rename(columns={'country or area': 'area', 'value': 'gdp'})    

# Round numbers to two decimals, change type to integer
df_gdp['gdp'] = df_gdp['gdp'].round(2)
df_gdp['area'] = df_gdp['area'].astype(str)


print('Table 1 - First five rows of the dataframe for GDP after initial cleaning and prep')
print(df_gdp.head())
print(df_gdp.shape[0], 'Rows ,',df_gdp.shape[1], 'Columns','\n')
print(f"GDP records from the years {min(df_gdp['year'])} to {max(df_gdp['year'])}",'\n')
'''
Poverty Dataframe
has a makeup similar to df_gdp but it has a footer thats not informative
starting below row 1011. also need to get rid of the footnotes column
'''
# Clean white space for cells, columns and make lower case
df_pov = df_pov.applymap(lambda x: x.strip() if isinstance(x, str) else x)   
df_pov.columns = df_pov.columns.str.strip().str.lower()

# Drop non-informative columns
df_pov = df_pov[['country or area', 'year', 'value']] 

# Rename column names for standardization across dfs, then make lower case
df_pov = df_pov.rename(columns={'country or area': 'area', 'value': '%pov'}) 

# Remove footer
df_pov = df_pov.iloc[:1012, :]  

# Convert year into an integer
df_pov['year'] = df_pov['year'].astype(int)

print('Table 2 - First five rows of the dataframe for %Poverty after initial cleaning and prep')
print(df_pov.head())
print(df_pov.shape[0], 'Rows ,',df_pov.shape[1], 'Columns','\n')
print(f"Poverty records from the years {min(df_pov['year'])} to {max(df_pov['year'])}")

Table 1 - First five rows of the dataframe for GDP after initial cleaning and prep
          area  year      gdp
0  Afghanistan  2021  1673.96
1  Afghanistan  2020  2078.60
2  Afghanistan  2019  2168.13
3  Afghanistan  2018  2110.24
4  Afghanistan  2017  2096.09
7728 Rows , 3 Columns

GDP records from the years 1990 to 2022

Table 2 - First five rows of the dataframe for %Poverty after initial cleaning and prep
          area  year  %pov
0  Afghanistan  2016  54.5
1  Afghanistan  2011  38.3
2  Afghanistan  2007  33.7
3      Albania  2020  22.0
4      Albania  2019  21.8
1012 Rows , 3 Columns

Poverty records from the years 2000 to 2022

### 4. Clean, reshape, and standardize dataframe for CPIA related variables

In [72]:
''' CPIA_BUSINESS REGULATION'''
# Strip whitespace in table cells, columns and make lower case
df_reg = df_reg.applymap(lambda x: x.strip() if isinstance(x, str) else x)   
df_reg.columns = df_reg.columns.str.strip().str.lower()

# Drop footnote column
df_reg = df_reg[['country or area', 'year', 'value']]  

# Rename column names for standardization across dfs
df_reg = df_reg.rename(columns={'country or area': 'area', 'value': 'cpia_regulation'}) 

print('Table 3 - First five rows of the dataframe for cpia_regulatory after initial cleaning and prep')
print(df_reg.head())
print(df_reg.shape[0], 'Rows ,',df_reg.shape[1], 'Columns')

''' CPIA_GENDER EQUITY'''
# Strip whitespace in table cells, then for each column
df_gender = df_gender.applymap(lambda x: x.strip() if isinstance(x, str) else x)   
df_gender.columns = df_gender.columns.str.strip().str.lower()

# Drop footnote column
df_gender = df_gender[['country or area', 'year', 'value']]  

# Rename column names for standardization across dfs
df_gender = df_gender.rename(columns={'country or area': 'area', 'value': 'cpia_gender'}) 


print('Table 4 - First five rows of the dataframe for cpia_gender after initial cleaning and prep')
print(df_gender.head())
print(df_gender.shape[0], 'Rows ,',df_gender.shape[1], 'Columns')

''' CPIA_PUBLIC RESOURCE EQUITY'''

# Strip whitespace in table cells, then for each column
df_pre = df_pre.applymap(lambda x: x.strip() if isinstance(x, str) else x) 
df_pre.columns = df_pre.columns.str.strip().str.lower()

# Drop footnote column
df_pre = df_pre[['country or area', 'year', 'value']]

# Rename column names for standardization across dfs
df_pre = df_pre.rename(columns={'country or area': 'area', 'value': 'cpia_resources'})

print('Table 5 - First five rows of the dataframe for cpia_pre after initial cleaning and prep')
print(df_pre.head())
print(df_pre.shape[0], 'Rows ,',df_pre.shape[1], 'Columns')

''' CPIA_TRANSPARENCY ACCOUNTABILITY AND CORRUPTON'''

# Strip whitespace in table cells, then for each column
df_tac = df_tac.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_tac.columns = df_tac.columns.str.strip().str.lower()

# Drop footnote column
df_tac = df_tac[['country or area', 'year', 'value']] 

# Rename column names for standardization across dfs
df_tac = df_tac.rename(columns={'country or area': 'area', 'value': 'cpia_transparency'}) #### rename for standardization


print('Table 6 - First five rows of the dataframe for cpia_tac after initial cleaning and prep')
print(df_tac.head())
print(df_tac.shape[0], 'Rows ,',df_tac.shape[1], 'Columns')

''' CPIA_SOCIAL INCLUSION'''

# Strip whitespace in table cells, then for each column
df_social = df_social.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_social.columns = df_social.columns.str.strip().str.lower()

# Drop footnote column
df_social = df_social[['country or area', 'year', 'value']]  

# Rename column names for standardization across dfs
df_social = df_social.rename(columns={'country or area': 'area', 'value': 'cpia_inclusion'})

print('Table 7 - First five rows of the dataframe for cpia_social after initial cleaning and prep')
print(df_social.head())
print(df_social.shape[0], 'Rows ,',df_social.shape[1], 'Columns')

''' CPIA_TRADE POLICY'''

# Strip whitespace in table cells, then for each column
df_trdp = df_trdp.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_trdp.columns = df_trdp.columns.str.strip().str.lower()

# Drop footnote column
df_trdp = df_trdp[['country or area', 'year', 'value']]  

# Rename column names for standardization across dfs
df_trdp = df_trdp.rename(columns={'country or area': 'area', 'value': 'cpia_trade'})

print('Table 8 - First five rows of the dataframe for cpia_social after initial cleaning and prep')
print(df_trdp.head())
print(df_trdp.shape[0], 'Rows ,',df_trdp.shape[1], 'Columns','\n')
print(f"All CPIA records from the years {min(df_trdp['year'])} to {max(df_trdp['year'])}")

Table 3 - First five rows of the dataframe for cpia_regulatory after initial cleaning and prep
          area  year  cpia_regulation
0  Afghanistan  2022              2.0
1  Afghanistan  2020              2.0
2  Afghanistan  2019              2.0
3  Afghanistan  2018              2.0
4  Afghanistan  2017              2.0
2125 Rows , 3 Columns
Table 4 - First five rows of the dataframe for cpia_gender after initial cleaning and prep
          area  year  cpia_gender
0  Afghanistan  2022          1.0
1  Afghanistan  2020          1.5
2  Afghanistan  2019          1.5
3  Afghanistan  2018          1.5
4  Afghanistan  2017          1.5
2125 Rows , 3 Columns
Table 5 - First five rows of the dataframe for cpia_pre after initial cleaning and prep
          area  year  cpia_resources
0  Afghanistan  2022             2.0
1  Afghanistan  2020             3.5
2  Afghanistan  2019             3.5
3  Afghanistan  2018             3.0
4  Afghanistan  2017             3.0
2125 Rows , 3 Columns
Table 6 - First five rows of the dataframe for cpia_tac after initial cleaning and prep
          area  year  cpia_transparency
0  Afghanistan  2022                1.0
1  Afghanistan  2020                2.0
2  Afghanistan  2019                2.0
3  Afghanistan  2018                2.0
4  Afghanistan  2017                2.0
2125 Rows , 3 Columns
Table 7 - First five rows of the dataframe for cpia_social after initial cleaning and prep
          area  year  cpia_inclusion
0  Afghanistan  2022             1.7
1  Afghanistan  2020             2.7
2  Afghanistan  2019             2.7
3  Afghanistan  2018             2.6
4  Afghanistan  2017             2.6
2120 Rows , 3 Columns
Table 8 - First five rows of the dataframe for cpia_social after initial cleaning and prep
          area  year  cpia_trade
0  Afghanistan  2023         3.0
1  Afghanistan  2022         3.0
2  Afghanistan  2020         3.5
3  Afghanistan  2019         3.5
4  Afghanistan  2018         3.5
2240 Rows , 3 Columns

All CPIA records from the years 2005 to 2023

### 5. Clean, reshape, and standardize dataframe for ease of doing business variable

In [73]:
''' EASE OF DOING BUSINESS '''

# Strip whitespace in table cells, then for each column
df_edb = df_edb.applymap(lambda x: x.strip() if isinstance(x, str) else x)   
df_edb.columns = df_edb.columns.str.strip().str.lower()

# Drop footnote column
df_edb = df_edb[['country or area', 'year', 'value']]

# Rename column names for standardization across dfs
df_edb = df_edb.rename(columns={'country or area': 'area', 'value': 'business_ease'})

print('Table 8 - First five rows of the dataframe for edb after initial cleaning and prep')
print(df_edb.head())
print(df_edb.shape[0], 'Rows ,',df_edb.shape[1], 'Columns', '\n')
print(f"Ease of doing business records from the years {min(df_edb['year'])} to {max(df_edb['year'])}")

Table 8 - First five rows of the dataframe for edb after initial cleaning and prep
          area  year  business_ease
0  Afghanistan  2019       44.06497
1  Afghanistan  2018       44.20343
2  Afghanistan  2017       37.13062
3  Afghanistan  2016       38.93563
4  Afghanistan  2015       39.25519
1187 Rows , 3 Columns

Ease of doing business records from the years 2015 to 2019

Note: Ease of doing business does not have sufficient records compared to targets or other features so will not be included in further study

### 6. Clean, reshape, and standardize dataframe for healthcare expenditure variable

In [74]:
''' GOVERNMENT EXPENDITURES FOR HEALTHCARE '''

# Resets the column to be the first row, adjust and reset index
df_health.columns = df_health.iloc[0] 
df_health = df_health[1:].reset_index(drop=True)

# Strip whitespace for table cells and columns. Make columns lower case
df_health = df_health.applymap(lambda x: x.strip() if isinstance(x, str) else x)   
df_health.columns = df_health.columns.str.strip().str.lower()

# Replace NaN in the first column to the name 'area'
df_health.columns.values[1] = 'area'  

# Remove rows if the values in column 'series' do not start with the word 'Current'
df_health = df_health[df_health['series'].str.startswith('Current')].reset_index(drop=True)

# Drop footnote column
df_health = df_health[['area', 'year', 'value']]  

# Rename column names for standardization across dfs
df_health = df_health.rename(columns={'value': 'healthcare$'}) 

# Change year data type to integer and healthcare$ to float
df_health['year'] = df_health['year'].astype(int)
df_health['healthcare$'] = df_health['healthcare$'].astype(float)

print('Table 9 - First five rows of the dataframe for health expenditures after initial cleaning and prep')
print(df_health.head())
print(df_health.shape[0], 'Rows ,',df_health.shape[1], 'Columns', '\n')
print(f"Health expenditure ecords from the years {min(df_health['year'])} to {max(df_health['year'])}")

Table 9 - First five rows of the dataframe for health expenditures after initial cleaning and prep
0         area  year  healthcare$
0  Afghanistan  2005          9.9
1  Afghanistan  2010          8.6
2  Afghanistan  2015         10.1
3  Afghanistan  2019         14.8
4  Afghanistan  2020         15.5
1132 Rows , 3 Columns

Health expenditure ecords from the years 2005 to 2021

### 7. Clean, reshape, and standardize dataframe for education expenditure variable

In [75]:
''' GOVERNMENT EXPENDITURES FOR EDUCATION - different column names from other dfs'''

# Strip whitespace for table cell and columns. Make columns lower case
df_edu = df_edu.applymap(lambda x: x.strip() if isinstance(x, str) else x) 
df_edu.columns = df_edu.columns.str.strip().str.lower()

# Drop footnote column
df_edu = df_edu[['reference area', 'time period', 'observation value']] 

# Rename column names for standardization across dfs
df_edu = df_edu.rename(columns={'reference area': 'area', 'time period': 'year', 'observation value': 'education$'})

print('Table 10 - First five rows of the dataframe for education expenditures after initial cleaning and prep')
print(df_edu.head())
print(df_edu.shape[0], 'Rows ,',df_edu.shape[1], 'Columns', '\n')
print(f"Education expenditure records from the years {min(df_edu['year'])} to {max(df_edu['year'])}")

Table 10 - First five rows of the dataframe for education expenditures after initial cleaning and prep
          area  year  education$
0  Afghanistan  2014     4.80435
1  Afghanistan  2013     4.54436
2  Afghanistan  2012     3.12562
3  Afghanistan  2011     4.08791
4  Afghanistan  2010     4.51116
3195 Rows , 3 Columns

Education expenditure records from the years 1975 to 2015

### 8. Clean, reshape, and standardize dataframe for colledge enrollment variable

In [76]:
''' College Enrollment - was setup similar to df_edu'''

# Strip whitespace for table cells and columns. Make columns lower case
df_college = df_college.applymap(lambda x: x.strip() if isinstance(x, str) else x)  
df_college.columns = df_college.columns.str.strip().str.lower()

# Remove rows where values in column 'sex' do not start with 'all'
df_college = df_college[df_college['sex'].str.startswith('All')].reset_index(drop=True)

# Drop footnote column
df_college = df_college[['reference area', 'time period', 'observation value']]

# Rename column names for standardization across dfs
df_college = df_college.rename(columns={'reference area': 'area', 'time period': 'year', 'observation value': 'coll_enrollment'})

print('Table 11 - First five rows of the dataframe for college enrollment after initial cleaning and prep')
print(df_college.head())
print(df_college.shape[0], 'Rows ,',df_college.shape[1], 'Columns','\n')
print(f"College enrollment records from the years {min(df_college['year'])} to {max(df_college['year'])}")

Table 11 - First five rows of the dataframe for college enrollment after initial cleaning and prep
          area  year  coll_enrollment
0  Afghanistan  2014         55.65616
1  Afghanistan  2013         56.68866
2  Afghanistan  2012         56.67734
3  Afghanistan  2011         54.61618
4  Afghanistan  2010         53.24683
5989 Rows , 3 Columns

College enrollment records from the years 1975 to 2015

### 9. Clean, reshape, and standardize dataframe for income distribution variables

In [77]:
''' 2ND QUINTILE OF INCOME DISTRIBUTION'''
# Strip whitespace for table cells and columns. Make columns lower case
df_inc2q = df_inc2q.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_inc2q.columns = df_inc2q.columns.str.strip().str.lower()

# Drop footnote column
df_inc2q = df_inc2q[['country or area', 'year', 'value']] 

# Rename column names for standardization across dfs
df_inc2q = df_inc2q.rename(columns={'country or area': 'area', 'value': 'income_quintile2'}) #### rename for std

# Remove footer information
df_inc2q = df_inc2q.iloc[:2007, :]
#df_inc2q

''' 3RD QUINTILE OF INCOME DISTRIBUTION'''

# Strip whitespace for table cells and columns. Make columns lower case
df_inc3q = df_inc3q.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_inc3q.columns = df_inc3q.columns.str.strip().str.lower()

# Drop footnote column
df_inc3q = df_inc3q[['country or area', 'year', 'value']] 

# Rename column names for standardization across dfs
df_inc3q = df_inc3q.rename(columns={'country or area': 'area', 'value': 'income_quintile3'})

# Remove footer information
df_inc3q = df_inc3q.iloc[:2007, :]
#df_inc3q

''' 4TH QUINTILE OF INCOME DISTRIBUTION'''

# Strip whitespace for table cells and columns. Make columns lower case
df_inc4q = df_inc4q.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_inc4q.columns = df_inc4q.columns.str.strip().str.lower()

# Drop footnote column
df_inc4q = df_inc4q[['country or area', 'year', 'value']] 

# Rename column names for standardization across dfs
df_inc4q = df_inc4q.rename(columns={'country or area': 'area', 'value': 'income_quintile4'})

# Remove footer information
df_inc4q = df_inc4q.iloc[:2007, :]
#df_inc4q

''' 5TH QUINTILE OF INCOME DISTRIBUTION'''

# Strip whitespace for table cells and columns. Make columns lower case
df_inc5q = df_inc5q.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_inc5q.columns = df_inc5q.columns.str.strip().str.lower()

# Drop footnote column
df_inc5q = df_inc5q[['country or area', 'year', 'value']]

# Rename column names for standardization across dfs
df_inc5q = df_inc5q.rename(columns={'country or area': 'area', 'value': 'income_quintile5'})

# Remove footer information
df_inc5q = df_inc5q.iloc[:2007, :] 
#df_inc5q

''' TOP 10 PERCENT OF INCOME DISTRIBUTION'''

# Strip whitespace for table cells and columns. Make columns lower case
df_incT10 = df_incT10.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_incT10.columns = df_incT10.columns.str.strip().str.lower()

# Drop footnote column
df_incT10 = df_incT10[['country or area', 'year', 'value']]
df_incT10 = df_incT10.rename(columns={'country or area': 'area', 'value': 'income_top10%'}) #### rename for std

# Remove footer information
df_incT10 = df_incT10.iloc[:2007, :] 
#df_incT10

''' MERGE ALL OF THE SEPERATE INCOME DFS INTO ONE DF'''
df_income = pd.merge(df_inc2q, df_inc3q, on=['area', 'year'], how='inner')
df_income = pd.merge(df_income, df_inc4q, on=['area', 'year'], how='inner')
df_income = pd.merge(df_income, df_inc5q, on=['area', 'year'], how='inner')
df_income = pd.merge(df_income, df_incT10, on=['area', 'year'], how='inner')

''' CREATE A NEW COLUMN FOR THE MIDDLE 60% AND DIFFERANCE BETWEEN TOP10% AND MIDDLE 60% '''
df_income['income_middle60%'] = df_income['income_quintile2'] + df_income['income_quintile3'] + df_income['income_quintile4']  #### this is attempting to approximate the  size of middle class
df_income['income_difference_top-mid60'] = df_income['income_top10%'] - df_income['income_middle60%']   #### this is attempting to approximate this gap between the most wealthy and middle
df_income['year'] = df_income['year'].astype(int)
#df_income

print('Table 12 - First five rows of the dataframe for income after initial cleaning and prep')
print(df_income.head())
print(df_income.shape[0], 'Rows ,',df_income.shape[1], 'Columns','\n')
print(f"Income related records from the years {min(df_income['year'])} and {max(df_income['year'])}")

Table 12 - First five rows of the dataframe for income after initial cleaning and prep
      area  year  income_quintile2  income_quintile3  income_quintile4  \
0  Albania  2020              13.2              17.3              23.0
1  Albania  2019              13.0              17.0              22.7
2  Albania  2018              13.0              17.5              23.3
3  Albania  2017              12.0              16.5              23.3
4  Albania  2016              11.8              16.4              23.2

   income_quintile5  income_top10%  income_middle60%  \
0              38.0           22.8              53.5
1              38.9           23.6              52.7
2              38.2           22.7              53.8
3              40.7           24.6              51.8
4              41.2           25.0              51.4

   income_difference_top-mid60
0                        -30.7
1                        -29.1
2                        -31.1
3                        -27.2
4                        -26.4
2007 Rows , 9 Columns

Income related records from the years 1963 and 2022

In [78]:
df_trdc.head()

,Country or Area,Year,Commodity,Flow,Trade (USD),Weight (kg),Quantity Name,Quantity
0,Afghanistan,2019,All Commodities,Export,8.704885e+08,NaN,No Quantity,NaN
1,Afghanistan,2019,All Commodities,Import,8.568014e+09,NaN,No Quantity,NaN
2,Afghanistan,2019,All Commodities,Re-Export,6.655197e+06,NaN,No Quantity,NaN
3,Afghanistan,2018,All Commodities,Import,7.406590e+09,NaN,No Quantity,NaN
4,Afghanistan,2018,All Commodities,Re-Export,9.263097e+06,NaN,No Quantity,NaN

### 10. Clean, reshape, standardize dataframe for trade related variables

##### 10.1 Restructuring population dataframe to merge with import and export dataframes for per capita tranformation

In [79]:
'''   CREATE A POPULATION TABLE TO LATER CALCULATE TRADE VALUES PER CAPITA'''
# Assign fourth row of the df to df.columns and reassign remaining cells 
df_pop.columns = df_pop.iloc[3]           
df_pop = df_pop[4:].reset_index(drop=True)

# Remove non-informative columns
df_pop = df_pop.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code']) 

# Use melt function to restructure year and population from long form to a tidy formation
df_pop2 = df_pop.melt(id_vars=['Country Name'], var_name='year', value_name='population')  

# change year data type to integer
df_pop2['year'] = df_pop2['year'].astype(int) 

# Strip whitespace for table cells
df_pop2 = df_pop2.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Rename column names for standardization across dfs
df_pop2 = df_pop2.rename(columns={'Country Name': 'area'})
print(df_pop2)

                              area  year   population
0                            Aruba  1960      54608.0
1      Africa Eastern and Southern  1960  130692579.0
2                      Afghanistan  1960    8622466.0
3       Africa Western and Central  1960   97256290.0
4                           Angola  1960    5357195.0
...                            ...   ...          ...
17019                       Kosovo  2023    1756374.0
17020                  Yemen, Rep.  2023   34449825.0
17021                 South Africa  2023   60414495.0
17022                       Zambia  2023   20569737.0
17023                     Zimbabwe  2023   16665409.0

[17024 rows x 3 columns]

##### 10.2 Create and wrangle import and export dataframes from trade commodities dataframe (merge with population df, and create per capita values)

In [80]:
'''  CREATE IMPORT AND EXPORT DATAFRAMES'''

'''EXPORTS'''
df_trdc.tail(20)

# Extract records that relate to annual export values only
df_exp = df_trdc[df_trdc['Flow'].str.startswith('Export', na=False)]

# Remove non-informative columns
df_exp = df_exp[['Country or Area', 'Year', 'Trade (USD)']]

# Strip whitespace for table cells and columns. Make columns lower case
df_exp = df_exp.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_exp.columns = df_exp.columns.str.strip().str.lower()

# Rename column names for standardization across dfs
df_exp = df_exp.rename(columns={'country or area': 'area', 'trade (usd)': 'comm_export$'})

'''IMPORTS'''
# Extract records that relate to annual import values only
df_imp = df_trdc[df_trdc['Flow'].str.startswith('Import', na=False)]

# Remove non-informative columns
df_imp = df_imp[['Country or Area', 'Year', 'Trade (USD)']]

# Strip whitespace for table cells and columns. Make columns lower case
df_imp = df_imp.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df_imp.columns = df_imp.columns.str.strip().str.lower()

# Rename column names for standardization across dfs
df_imp = df_imp.rename(columns={'country or area': 'area', 'trade (usd)': 'comm_import$'})

''' MERGE TRADE DATAFRAMES WITH POPULATION AND CREATE A TRADE PER CAPITA DATAFRAME'''
df_trade = pd.merge(df_imp, df_exp, on=['area', 'year'], how='inner')
df_trade = pd.merge(df_trade, df_pop2, on=['area', 'year'], how='inner')

# Conversion of values to per capita values
df_trade['comm_import_capita'] = df_trade['comm_import$'] / df_trade['population'] 
df_trade['comm_export_capita'] = df_trade['comm_export$'] / df_trade['population']

# Drop non-informative columns
df_trade = df_trade[['area', 'year', 'comm_import_capita', 'comm_export_capita']] 

print('Table 13 - First five rows of the dataframe for trade after initial cleaning and prep')
print(df_trade.head())
print(df_trade.shape[0], 'Rows ,',df_trade.shape[1], 'Columns', '\n')
print(f"Trade related records from the years {min(df_trade['year'])} and {max(df_trade['year'])}")

Table 13 - First five rows of the dataframe for trade after initial cleaning and prep
          area  year  comm_import_capita  comm_export_capita
0  Afghanistan  2019          226.850080           23.047394
1  Afghanistan  2018          201.887152           24.109622
2  Afghanistan  2017          218.626623           23.340264
3  Afghanistan  2016          188.650576           17.220573
4  Afghanistan  2015          228.801910           16.928762
4014 Rows , 4 Columns

Trade related records from the years 1988 and 2023

### 11. Evaluating issues with in the area category (multiple naming conventions, non-area related categories, aggrated areas vs countries)

In [81]:
'''
Create a unique set of coutry/areas for each df. The idea here need to see what dfs contains what
area related information and standardize that information across dfs prior to merging them
'''
# Create unique area names for each df
areas_reg = df_reg[['area']].rename(columns={'area':'reg'}).drop_duplicates()  
areas_gen = df_gender[['area']].rename(columns={'area':'gen'}).drop_duplicates()
areas_pre = df_pre[['area']].rename(columns={'area':'pre'}).drop_duplicates()
areas_tac = df_tac[['area']].rename(columns={'area':'tac'}).drop_duplicates()
areas_soc = df_social[['area']].rename(columns={'area':'soc'}).drop_duplicates()
areas_trp = df_trdp[['area']].rename(columns={'area': 'trp'}).drop_duplicates()
areas_hea = df_health[['area']].rename(columns={'area': 'hea'}).drop_duplicates()
areas_edu = df_edu[['area']].rename(columns={'area': 'edu'}).drop_duplicates()
areas_col = df_college[['area']].rename(columns={'area': 'col'}).drop_duplicates()
areas_inc = df_income[['area']].rename(columns={'area': 'inc'}).drop_duplicates()
areas_tra = df_trade[['area']].rename(columns={'area': 'tra'}).drop_duplicates()
areas_gdp = df_gdp[['area']].rename(columns={'area':'gdp'}).drop_duplicates()
areas_pov = df_pov[['area']].rename(columns={'area':'pov'}).drop_duplicates()

# Create a master list of all unique area names, by stacking the different df area names from above then dropping duplicates
all_areas = pd.DataFrame({'area': pd.concat([areas_reg['reg'], areas_gen['gen'], areas_pre['pre'], \
                                            areas_tac['tac'], areas_soc['soc'], areas_trp['trp'], areas_hea['hea'], \
                                            areas_edu['edu'], areas_col['col'], areas_inc['inc'], \
                                            areas_tra['tra'], areas_gdp['gdp'], areas_pov['pov']]).drop_duplicates()})
'''
Left merge all area names from different variable dfs to the master area name list. We explictly tell the merge() function
what two columns to merge since we change the 'area' column in the original df to variable specific name such as 'reg'
'''
compare_areas = all_areas \
.merge(areas_reg, left_on='area', right_on='reg', how='left') \
.merge(areas_gen, left_on='area', right_on='gen', how='left') \
.merge(areas_pre, left_on='area', right_on='pre', how='left') \
.merge(areas_tac, left_on='area', right_on='tac', how='left') \
.merge(areas_soc, left_on='area', right_on='soc', how='left') \
.merge(areas_trp, left_on='area', right_on='trp', how='left') \
.merge(areas_hea, left_on='area', right_on='hea', how='left') \
.merge(areas_edu, left_on='area', right_on='edu', how='left') \
.merge(areas_col, left_on='area', right_on='col', how='left') \
.merge(areas_inc, left_on='area', right_on='inc', how='left') \
.merge(areas_tra, left_on='area', right_on='tra', how='left') \
.merge(areas_gdp, left_on='area', right_on='gdp', how='left') \
.merge(areas_pov, left_on='area', right_on='pov', how='left')

# Get rid of the 'areas' column
compare_areas = compare_areas[['reg', 'gen', 'pre', 'tac', 'soc','trp','hea', 'edu', 'col', 'inc', 'tra','gdp', 'pov']]

# Create a column which captures ea rows unique string(area name)
compare_areas['unique_name'] = compare_areas.apply(lambda row: row.dropna().iloc[0] if not row.dropna().empty else np.nan, axis=1)

# Save to csv for review
compare_areas.to_csv('compare_areas.csv', index=False)

print(f'Number of unique area names prior to standardizing naming convention: {len(compare_areas)}')

Number of unique area names prior to standardizing naming convention: 320

### 12. Remove duplicate country names

In [82]:
import re

# Create the re search criteria to find then remove duplicate names
regex_dict = {
    r'^Bolivia': 'Bolivia', 
    r'^C.*voire$':'Ivory Coast', 
    r'^Czech': 'Czech Republic', 
    r'^Dem.*ongo$': 'D.R. Congo', 
    r'Hong\sKong': 'Hong Kong', 
    r'Iran': 'Iran', 
    r'Korea': 'Korea', 
    r'Lao\sP': 'Lao', 
    r'^Libya': 'Libya', 
    r'^Macao': 'Macao', 
    r'Micronesia': 'Micronesia', 
    r'Netherlands': 'Netherlands', 
    r'Russia': 'Russia', 
    r'^T.*iye$|Turkey': 'Turkiye', 
    r'^Tanzania': 'Tanzania', 
    r'United\sKingdom': 'United Kingdom', 
    r'United\sStates': 'United States', 
    r'Venezuela': 'Venezuela',
    r'^S.*Principe$': 'Sao Tome and Principe',
    r'^Kyrgyz': 'Kyrgyzstan',
    r'Gambia': 'Gambia',
    r'^Cura.*ao$': 'Curacao'
}

# Function to standardize names
def standardize_country(name, regex_dict):
    for pattern, standard_name in regex_dict.items():
        if re.match(pattern, name):
            return standard_name
    return name


# Update the names with the function (confirmed it was working with df['area2'] before rolling to all dfs)
df_reg['area'] = df_reg['area'].apply(lambda x: standardize_country(x, regex_dict))
df_gender['area'] = df_gender['area'].apply(lambda x: standardize_country(x, regex_dict))
df_pre['area'] = df_pre['area'].apply(lambda x: standardize_country(x, regex_dict))
df_tac['area'] = df_tac['area'].apply(lambda x: standardize_country(x, regex_dict))
df_social['area'] = df_social['area'].apply(lambda x: standardize_country(x, regex_dict))
df_trdp['area'] = df_trdp['area'].apply(lambda x: standardize_country(x, regex_dict))
df_health['area'] = df_health['area'].apply(lambda x: standardize_country(x, regex_dict))
df_edu['area'] = df_edu['area'].apply(lambda x: standardize_country(x, regex_dict))
df_college['area'] = df_college['area'].apply(lambda x: standardize_country(x, regex_dict))
df_income['area'] = df_income['area'].apply(lambda x: standardize_country(x, regex_dict))
df_trade['area'] = df_trade['area'].apply(lambda x: standardize_country(x, regex_dict))
df_gdp['area'] = df_gdp['area'].apply(lambda x: standardize_country(x, regex_dict))
df_pov['area'] = df_pov['area'].apply(lambda x: standardize_country(x, regex_dict))

'''
Repeat the section above to observe how standardizing naming convention reduced the 
number of unique area names, and confirm no more inconsistencies by creating/reviewing 
compare_areas2
'''

# Create unique area names for each df
areas_reg = df_reg[['area']].rename(columns={'area':'reg'}).drop_duplicates()  
areas_gen = df_gender[['area']].rename(columns={'area':'gen'}).drop_duplicates()
areas_pre = df_pre[['area']].rename(columns={'area':'pre'}).drop_duplicates()
areas_tac = df_tac[['area']].rename(columns={'area':'tac'}).drop_duplicates()
areas_soc = df_social[['area']].rename(columns={'area':'soc'}).drop_duplicates()
areas_trp = df_trdp[['area']].rename(columns={'area': 'trp'}).drop_duplicates()
areas_hea = df_health[['area']].rename(columns={'area': 'hea'}).drop_duplicates()
areas_edu = df_edu[['area']].rename(columns={'area': 'edu'}).drop_duplicates()
areas_col = df_college[['area']].rename(columns={'area': 'col'}).drop_duplicates()
areas_inc = df_income[['area']].rename(columns={'area': 'inc'}).drop_duplicates()
areas_tra = df_trade[['area']].rename(columns={'area': 'tra'}).drop_duplicates()
areas_gdp = df_gdp[['area']].rename(columns={'area':'gdp'}).drop_duplicates()
areas_pov = df_pov[['area']].rename(columns={'area':'pov'}).drop_duplicates()

# Create a master list of all unique area names, by stacking the different df area names from above then dropping duplicates
all_areas = pd.DataFrame({'area': pd.concat([areas_reg['reg'], areas_gen['gen'], areas_pre['pre'], \
                                            areas_tac['tac'], areas_soc['soc'], areas_trp['trp'], areas_hea['hea'], \
                                            areas_edu['edu'], areas_col['col'], areas_inc['inc'], \
                                            areas_tra['tra'], areas_gdp['gdp'], areas_pov['pov']]).drop_duplicates()})
'''
Left merge all area names from different variable dfs to the master area name list. We explictly tell the merge() function
what two columns to merge since we change the 'area' column in the original df to variable specific name such as 'reg'
'''
compare_areas2 = all_areas \
.merge(areas_reg, left_on='area', right_on='reg', how='left') \
.merge(areas_gen, left_on='area', right_on='gen', how='left') \
.merge(areas_pre, left_on='area', right_on='pre', how='left') \
.merge(areas_tac, left_on='area', right_on='tac', how='left') \
.merge(areas_soc, left_on='area', right_on='soc', how='left') \
.merge(areas_trp, left_on='area', right_on='trp', how='left') \
.merge(areas_hea, left_on='area', right_on='hea', how='left') \
.merge(areas_edu, left_on='area', right_on='edu', how='left') \
.merge(areas_col, left_on='area', right_on='col', how='left') \
.merge(areas_inc, left_on='area', right_on='inc', how='left') \
.merge(areas_tra, left_on='area', right_on='tra', how='left') \
.merge(areas_gdp, left_on='area', right_on='gdp', how='left') \
.merge(areas_pov, left_on='area', right_on='pov', how='left')


# Get rid of the 'areas' column
compare_areas2 = compare_areas2[['reg', 'gen', 'pre', 'tac', 'soc','trp','hea', 'edu', 'col', 'inc', 'tra','gdp', 'pov']]

# Create a column which captures ea rows unique string(area name)
compare_areas2['unique_name'] = compare_areas2.apply(lambda row: row.dropna().iloc[0] if not row.dropna().empty else np.nan, axis=1)
# Save to csv for review

compare_areas2.to_csv('compare_areas2.csv', index=False)

print(f'Number of unique area names after to standardizing naming convention : {len(all_areas)}')

Number of unique area names after to standardizing naming convention : 295

### 13. Merge variable dataframes

In [83]:
# Merge all of the dfs
'''
The df_gdp is the most significant df, since wer not interested in any feature that 
does not measure gdp. Also df_gdp happens to have the widest range in years in 
which will be truncated. based on this all other dfs will be merged to df_gdp
'''
df_economy = pd.merge(df_gdp, df_pov, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_reg, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_gender, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_pre, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_tac, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_social, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_trdp, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_health, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_edu, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_college, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_income, on=['area', 'year'], how='left')
df_economy = pd.merge(df_economy, df_trade, on=['area', 'year'], how='left')

df_economy = df_economy.sort_values(by=['area', 'year']).reset_index(drop=True)

# Remove sparse years from dataset
'''
A review was done of each dataset against the years data was being collected,
again giving priority to gdp since that is the primary target variable. The years
between 2000 and 2020 give the dataset the densest table vs the feature variables
'''
df_economy = df_economy[df_economy['year'].between(2000, 2022)].reset_index(drop=True)
df_economy.to_csv('df_economy.csv', index=False)

print('Table 14 - First five rows of the Master Dataframe_v1')
print(df_economy.head())
print(df_economy.shape[0], 'Rows ,',df_economy.shape[1], 'Columns')

Table 14 - First five rows of the Master Dataframe_v1
          area  year      gdp  %pov  cpia_regulation  cpia_gender  \
0  Afghanistan  2002   943.12   NaN              NaN          NaN
1  Afghanistan  2003   970.65   NaN              NaN          NaN
2  Afghanistan  2004   971.81   NaN              NaN          NaN
3  Afghanistan  2005  1075.67   NaN              NaN          NaN
4  Afghanistan  2006  1120.89   NaN              2.5          2.0

   cpia_resources  cpia_transparency  cpia_inclusion  cpia_trade  ...  \
0             NaN                NaN             NaN         NaN  ...
1             NaN                NaN             NaN         NaN  ...
2             NaN                NaN             NaN         NaN  ...
3             NaN                NaN             NaN         NaN  ...
4             2.5                2.5             2.3         3.0  ...

   coll_enrollment  income_quintile2  income_quintile3  income_quintile4  \
0              NaN               NaN               NaN               NaN
1         13.31708               NaN               NaN               NaN
2         18.66479               NaN               NaN               NaN
3         19.78370               NaN               NaN               NaN
4         29.93046               NaN               NaN               NaN

   income_quintile5  income_top10%  income_middle60%  \
0               NaN            NaN               NaN
1               NaN            NaN               NaN
2               NaN            NaN               NaN
3               NaN            NaN               NaN
4               NaN            NaN               NaN

   income_difference_top-mid60  comm_import_capita  comm_export_capita
0                          NaN                 NaN                 NaN
1                          NaN                 NaN                 NaN
2                          NaN                 NaN                 NaN
3                          NaN                 NaN                 NaN
4                          NaN                 NaN                 NaN

[5 rows x 22 columns]
5533 Rows , 22 Columns

13

### 14. Remove non area related records from table
1. Create a df with unique set of country names to evaluate off line
2. Read back in the adjusted version of that df add the appropriate Regions as defined by the UN associated with each country
3. Create a dictionary to fill in the column 'Region 1' with singularly aggregate groups of countries
4. Create a dictionary to fill in the column 'Region 2' with dually aggregated groups of countries
5. Create a dictionary where the associated df_names will become a dictionaries to create columns called 'region' and 'un_region' in the master df_economy
6. Drop all non-region related, or non-regionally informative records

In [84]:
# Download a table of area names to further further evaluate inconsistencies off line
area_names = pd.DataFrame({'area': df_economy['area'].unique()})
area_names.to_csv('area_names.csv', index=False)

In [85]:
# Read back in evaluated df for processing
df_names = pd.read_csv('https://raw.githubusercontent.com/te-ex153/Data/refs/heads/main/area_names_adj.csv')
print('Table 15 - Dataframe showing area with regional columns to be filled in')
df_names

Table 15 - Dataframe showing area with regional columns to be filled in

    ID                         area  Region 1  Region 2
0    C                  Afghanistan       NaN       NaN
1    R  Africa Eastern and Southern       NaN       NaN
2    R   Africa Western and Central       NaN       NaN
3    C                      Albania       NaN       NaN
4    C                      Algeria       NaN       NaN
..  ..                          ...       ...       ...
241  C           West Bank and Gaza       NaN       NaN
242  O                        World       NaN       NaN
243  C                        Yemen       NaN       NaN
244  C                       Zambia       NaN       NaN
245  C                     Zimbabwe       NaN       NaN

[246 rows x 4 columns]

In [86]:
''' 
Create a dictionary to fill in the column 'Region 1' with singularly aggregated groups of countries
'''

import pandas as pd

# Dictionary mapping African countries to regions
africa_regions = {
    # Northern Africa
    "Algeria": "Northern Africa", "Egypt": "Northern Africa", "Libya": "Northern Africa", "Morocco": "Northern Africa", "Sudan": "Northern Africa", "Tunisia": "Northern Africa",
    # Western Africa
    "Western Sahara": "Northern Africa", "Benin": "Western Africa", "Burkina Faso": "Western Africa", "Cape Verde": "Western Africa", "Ivory Coast": "Western Africa",
    "The Gambia": "Western Africa", "Ghana": "Western Africa", "Guinea": "Western Africa",  "Guinea-Bissau": "Western Africa", "Liberia": "Western Africa",  "Mali": "Western Africa",  
    "Mauritania": "Western Africa", "Niger": "Western Africa","Nigeria": "Western Africa", "Senegal": "Western Africa", "Sierra Leone": "Western Africa",  "Togo": "Western Africa", 
    'Cabo Verde': 'Western Africa',
    # Central Africa
    "Angola": "Central Africa","Cameroon": "Central Africa", "Central African Republic": "Central Africa",  "Chad": "Central Africa", "D.R. Congo": "Central Africa",  
    "Congo": "Central Africa", "Equatorial Guinea": "Central Africa", "Gabon": "Central Africa", "Sao Tome and Principe": "Central Africa", 
    # Eastern Africa
    "Burundi": "Eastern Africa", "Comoros": "Eastern Africa", "Djibouti": "Eastern Africa", "Eritrea": "Eastern Africa", "Ethiopia": "Eastern Africa", "Kenya": "Eastern Africa", 
    "Madagascar": "Eastern Africa", "Malawi": "Eastern Africa","Mauritius": "Eastern Africa", "Mozambique": "Eastern Africa",  "Rwanda": "Eastern Africa", 
    "Seychelles": "Eastern Africa", "Somalia": "Eastern Africa", "South Sudan": "Eastern Africa",
    "Tanzania": "Eastern Africa",  "Uganda": "Eastern Africa", "Zambia": "Eastern Africa", "Zimbabwe": "Eastern Africa", 
    # Southern Africa
    "Botswana": "Southern Africa", "Eswatini": "Southern Africa",
    "Lesotho": "Southern Africa", "Namibia": "Southern Africa", "South Africa": "Southern Africa",
    
}

europe_regions = {
    # General Europe
    'Albania': 'Europe', 'Andorra': 'Europe', 'Armenia': 'Europe', 'Austria': 'Europe', 'Azerbaijan': 'Europe',
    'Belarus': 'Europe', 'Belgium': 'Europe', 'Bosnia and Herzegovina': 'Europe', 'Bulgaria': 'Europe',
    'Croatia': 'Europe', 'Cyprus': 'Europe', 'Czech Republic': 'Europe', 'Denmark': 'Europe', 'Estonia': 'Europe',
    'Finland': 'Europe', 'France': 'Europe', 'Georgia': 'Europe', 'Germany': 'Europe', 'Greece': 'Europe',
    'Hungary': 'Europe', 'Iceland': 'Europe', 'Ireland': 'Europe', 'Italy': 'Europe', 'Kazakhstan': 'Europe',
    'Kosovo': 'Europe', 'Latvia': 'Europe', 'Liechtenstein': 'Europe', 'Lithuania': 'Europe', 'Luxembourg': 'Europe',
    'Malta': 'Europe', 'Moldova': 'Europe', 'Monaco': 'Europe', 'Montenegro': 'Europe', 'Netherlands': 'Europe',
    'North Macedonia': 'Europe', 'Norway': 'Europe', 'Poland': 'Europe', 'Portugal': 'Europe', 'Romania': 'Europe',
    'San Marino': 'Europe', 'Serbia': 'Europe', 'Slovakia': 'Europe', 'Slovenia': 'Europe', 'Spain': 'Europe',
    'Sweden': 'Europe', 'Switzerland': 'Europe', 'Turkey': 'Europe', 'Ukraine': 'Europe', 'United Kingdom': 'Europe',
    'Vatican City': 'Europe',
    # Central Europe
    'Austria': 'Central Europe', 'Czech Republic': 'Central Europe', 'Germany': 'Central Europe', 'Hungary': 'Central Europe', 'Russia': 'Central Europe',
    'Liechtenstein': 'Central Europe', 'Poland': 'Central Europe', 'Slovak Republic': 'Central Europe', 'Switzerland': 'Central Europe',
    # Baltics
    'Estonia': 'Baltics', 'Latvia': 'Baltics', 'Lithuania': 'Baltics'
}

asia_regions = {
    # Central Asia
    'Afghanistan': 'Central Asia', 'Kazakhstan': 'Central Asia', 'Kyrgyzstan': 'Central Asia', 'Tajikistan': 'Central Asia', 
    'Turkmenistan': 'Central Asia', 'Uzbekistan': 'Central Asia',
    # East Asia
    'China': 'East Asia', 'Japan': 'East Asia', 'Mongolia': 'East Asia', 'North Korea': 'East Asia', 'South Korea': 'East Asia', 'Korea': 'East Asia','Thailand': 'East Asia',
    'Viet Nam': 'East Asia', 'Indonesia': 'East Asia', 'Macao': 'East Asia', 'Hong Kong': 'East Asia', 'Malaysia': 'East Asia', 'Lao': 'East Asia',
    'Timor-Leste': 'East Asia', 'Cambodia': 'East Asia', 'Brunei': 'East Asia', 'Myanmar':'East Asia','Singapore':'East Asia',
    # South Asia
    'Afghanistan': 'South Asia', 'Bangladesh': 'South Asia', 'Bhutan': 'South Asia', 'India': 'South Asia', 'Maldives': 'South Asia', 
    'Nepal': 'South Asia', 'Pakistan': 'South Asia', 'Sri Lanka': 'South Asia', 
    # Pacific
    'Australia': 'Pacific', 'Fiji': 'Pacific', 'Kiribati': 'Pacific', 'Marshall Islands': 'Pacific', 'Micronesia': 'Pacific', 'Philippines': 'Pacific',
    'Nauru': 'Pacific', 'New Zealand': 'Pacific', 'Palau': 'Pacific', 'Papua New Guinea': 'Pacific', 'Samoa': 'Pacific', 
    'Solomon Islands': 'Pacific', 'Tonga': 'Pacific', 'Tuvalu': 'Pacific', 'Vanuatu': 'Pacific'
}

middle_east_regions = {
    # Middle East
    'Afghanistan': 'Middle East', 'Bahrain': 'Middle East', 'Cyprus': 'Middle East', 'Egypt': 'Middle East', 'Iran': 'Middle East', 
    'Iraq': 'Middle East', 'Israel': 'Middle East', 'Jordan': 'Middle East', 'Kuwait': 'Middle East', 'Lebanon': 'Middle East', 
    'Oman': 'Middle East', 'Palestine': 'Middle East', 'Qatar': 'Middle East', 'Saudi Arabia': 'Middle East', 'Syria': 'Middle East', 
    'Turkiye': 'Middle East', 'United Arab Emirates': 'Middle East', 'Yemen': 'Middle East','West Bank and Gaza': 'Middle East'
}

americas_regions = {
    # North America
    'Canada': 'North America', 'Mexico': 'North America', 'United States': 'North America',
    # Latin America (includes countries in South and Central America, and parts of the Caribbean)
    'Argentina': 'Latin America', 'Belize': 'Latin America', 'Bolivia': 'Latin America', 'Brazil': 'Latin America', 'Chile': 'Latin America', 
    'Colombia': 'Latin America', 'Costa Rica': 'Latin America', 'Cuba': 'Latin America', 'Dominican Republic': 'Latin America', 
    'Ecuador': 'Latin America', 'El Salvador': 'Latin America', 'Guatemala': 'Latin America', 'Honduras': 'Latin America', 
    'Nicaragua': 'Latin America', 'Panama': 'Latin America', 'Paraguay': 'Latin America', 'Peru': 'Latin America', 'Uruguay': 'Latin America', 
    'Venezuela': 'Latin America', 'Suriname': 'Latin America', 'Guyana': 'Latin America',
    # Caribbean
    'Antigua and Barbuda': 'Caribbean', 'The Bahamas': 'Caribbean', 'Barbados': 'Caribbean', 'Cuba': 'Caribbean', 'Dominica': 'Caribbean', 
    'Grenada': 'Caribbean', 'Haiti': 'Caribbean', 'Jamaica': 'Caribbean', 'St. Kitts and Nevis': 'Caribbean', 'St. Lucia': 'Caribbean', 
    'St. Vincent and the Grenadines': 'Caribbean', 'Trinidad and Tobago': 'Caribbean', 'Aruba': 'Caribbean', 'Bermuda': 'Caribbean', 
    'Cayman Islands': 'Caribbean', 'Curacao': 'Caribbean', 'Montserrat': 'Caribbean', 'Puerto Rico': 'Caribbean', 'Saint BarthÃ©lemy': 'Caribbean',
    'Saint Pierre and Miquelon': 'Caribbean', 'Anguilla': 'Caribbean', 'British Virgin Islands': 'Caribbean', 'Turks and Caicos Islands': 'Caribbean', 
    'Sint Maarten (Dutch part)': 'Caribbean'
}

not_applicable = {
    'Africa Eastern and Southern': 'Not Applicable',
    'Africa Western and Central': 'Not Applicable',
    'Middle East & North Africa': 'Not Applicable',
    'Central Europe and the baltics': 'Not Applicable',
    'Europe & Central Asia': 'Not Applicable',
    'East Asia & Pacific': 'Not Applicable',
    'South Asia': 'Not Applicable',
    'North America': 'Not Applicable',
    'Latin America & Caribbean': 'Not Applicable'
}

# Function to assign region (singularly aggregated) based on country, leaving non-matching cells unchanged
def assign_region1(b,c):
    for i in range(len(b)):
        country = b[i]
        # Check if cell contains the country from dictionary
        if country in africa_regions:
            # Assign corresponding region to col c
            c[i] = africa_regions[country]
        elif country in europe_regions:
            c[i] = europe_regions[country]
        elif country in asia_regions:
            c[i] = asia_regions[country]
        elif country in middle_east_regions:
            c[i] = middle_east_regions[country]
        elif country in americas_regions:
            c[i] = americas_regions[country]
        elif country in not_applicable:
            c[i] = not_applicable[country]
            
    return c

df_names['Region 1'] = assign_region1(df_names['area'], df_names['Region 1'])

'''
Create a dictionary to fill in the column 'Region 2' with dually aggregated groups of countries
'''
un_regions = {
    'Eastern Africa':'Africa Eastern and Southern',
    'Southern Africa': 'Africa Eastern and Southern',
    'Africa Eastern and Southern': 'Africa Eastern and Southern',
    'Western Africa': 'Africa Western and Central',
    'Central Africa': 'Africa Western and Central',
    'Africa Western and Central': 'Africa Western and Central',
    'Northern Africa': 'Middle East & North Africa',
    'Middle East': 'Middle East & North Africa',
    'Middle East & North Africa': 'Middle East & North Africa',
    'Central Europe': 'Central Europe and the baltics',
    'Baltics': 'Central Europe and the baltics',
    'Central Europe and the baltics': 'Central Europe and the baltics',
    'Europe': 'Europe & Central Asia',
    'Central Asia': 'Europe & Central Asia',
    'Europe & Central Asia': 'Europe & Central Asia',
    'East Asia': 'East Asia & Pacific',
    'Pacific': 'East Asia & Pacific',
    'East Asia & Pacific': 'East Asia & Pacific',
    'South Asia': 'South Asia',
    'North America': 'North America',
    'Latin America': 'Latin America & Caribbean',
    'Caribbean': 'Latin America & Caribbean',
    'Latin America & Caribbean': 'Latin America & Caribbean'
}

# Function to assign region (dually aggregated) based on singular region, leaving non-matching cells unchanged
def assign_region2(b,c):
    for i in range(len(b)):
        region = b[i]
        if region in un_regions:
            c[i] = un_regions[region]
    return c
# Assign appropiate regional values to Region 2 column
df_names['Region 2'] = assign_region2(df_names['Region 1'], df_names['Region 2'])
df_names['Region 2'] = assign_region2(df_names['area'], df_names['Region 2'])
#df_names[df_names['Region 2'].isna()].sample(n=30)

# Drop non-inforative records
df_names.dropna(subset=['Region 2'], inplace=True)
print('Table 16 - Dataframe showing countries with their associated singular and UN specified regions')
df_names.sample(n=30)

Table 16 - Dataframe showing countries with their associated singular and UN specified regions

,ID,area,Region 1,Region 2
233,C,United Kingdom,Europe,Europe & Central Asia
43,C,Comoros,Eastern Africa,Africa Eastern and Southern
77,C,Georgia,Europe,Europe & Central Asia
115,C,Kyrgyzstan,Central Asia,Europe & Central Asia
136,C,Maldives,South Asia,South Asia
243,C,Yemen,Middle East,Middle East & North Africa
240,C,Viet Nam,East Asia,East Asia & Pacific
219,C,The Bahamas,Caribbean,Latin America & Caribbean
19,C,Belize,Latin America,Latin America & Caribbean
2,R,Africa Western and Central,Not Applicable,Africa Western and Central
118,R,Latin America & Caribbean,Not Applicable,Latin America & Caribbean
27,C,Brunei,East Asia,East Asia & Pacific
237,C,Uzbekistan,Central Asia,Europe & Central Asia
154,C,Namibia,Southern Africa,Africa Eastern and Southern
22,C,Bhutan,South Asia,South Asia
14,C,Bahrain,Middle East,Middle East & North Africa
230,C,Uganda,Eastern Africa,Africa Eastern and Southern
212,C,Sudan,Northern Africa,Middle East & North Africa
205,C,Sri Lanka,South Asia,South Asia
222,C,Togo,Western Africa,Africa Western and Central
199,C,Somalia,Eastern Africa,Africa Eastern and Southern
217,C,Tanzania,Eastern Africa,Africa Eastern and Southern
218,C,Thailand,East Asia,East Asia & Pacific
139,C,Marshall Islands,Pacific,East Asia & Pacific
78,C,Germany,Central Europe,Central Europe and the baltics
156,C,Nepal,South Asia,South Asia
198,C,Solomon Islands,Pacific,East Asia & Pacific
141,C,Mauritius,Eastern Africa,Africa Eastern and Southern
42,C,Colombia,Latin America,Latin America & Caribbean
47,C,Curacao,Caribbean,Latin America & Caribbean

In [87]:
'''
1. Create a dictionary where the associated df_names will become a dictionary to create a columns called 'single_region', 'un_region' in the master df_economy
2. Create those new columns with associated regional values
3. Drop records where the united nations region column is blank (columns are not regional or specified in a way that is not informative)
'''
singular_regions = dict(zip(df_names['area'], df_names['Region 1']))

# Create function to read through country column and return asociated regional value from a dictionary
def assign_single_region(b,c):
    for i in range(len(b)):
        country = b[i]
        if country in singular_regions:
            c[i] = singular_regions[country]
    return c

united_nations_regions = dict(zip(df_names['area'], df_names['Region 2']))

# Create function to read through region column and return asociated UN specified regional value from a dictionary
def assign_un_region(b,c):
    for i in range(len(b)):
        country = b[i]
        if country in united_nations_regions:
            c[i] = united_nations_regions[country]
    return c

# Initialize new columns with empty strings
if 'region' not in df_economy:
    df_economy['region'] = ''  
if 'un_region' not in df_economy:
    df_economy['un_region'] = ''
 
# Create new regional columns using related user defined functions 
df_economy['region'] = assign_single_region(df_economy['area'], df_economy['region'])
df_economy['un_region'] = assign_un_region(df_economy['area'], df_economy['un_region'])

print(f'Nuber of records in df_economy prior to dropping non-regional area categories : {len(df_economy)}')

# Replace empty strings with NaNs and drop records where UN related regions are NaNs
df_economy.replace('', pd.NA, inplace=True)
df_economy.dropna(subset=['un_region'], inplace=True)

# Rename column 'area' to 'country' since region now has its own columns
df_economy.rename(columns={'area': 'country'}, inplace=True)

# Get column names
columns = df_economy.columns.tolist()

# Move the last two columns to the second and third position
new_order = [columns[0]] +columns[-2:] + columns[1:-2]

# Reorder the df per the new order
df_economy = df_economy[new_order]

print(f'Nuber of records in df_economy after dropping non-regional area categories : {len(df_economy)}')
df_economy.to_csv('df_economy.csv', index=False)
df_economy.info()

Nuber of records in df_economy prior to dropping non-regional area categories : 5533
Nuber of records in df_economy after dropping non-regional area categories : 4613
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4613 entries, 0 to 5532
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      4613 non-null   object
 1   region                       4613 non-null   object
 2   un_region                    4613 non-null   object
 3   year                         4613 non-null   int64
 4   gdp                          4613 non-null   float64
 5   %pov                         1003 non-null   float64
 6   cpia_regulation              1451 non-null   float64
 7   cpia_gender                  1451 non-null   float64
 8   cpia_resources               1451 non-null   float64
 9   cpia_transparency            1451 non-null   float64
 10  cpia_inclusion               1446 non-null   float64
 11  cpia_trade                   1451 non-null   float64
 12  healthcare$                  1025 non-null   float64
 13  education$                   1468 non-null   float64
 14  coll_enrollment              1948 non-null   float64
 15  income_quintile2             1533 non-null   float64
 16  income_quintile3             1533 non-null   float64
 17  income_quintile4             1533 non-null   float64
 18  income_quintile5             1533 non-null   float64
 19  income_top10%                1533 non-null   float64
 20  income_middle60%             1533 non-null   float64
 21  income_difference_top-mid60  1533 non-null   float64
 22  comm_import_capita           3020 non-null   float64
 23  comm_export_capita           3020 non-null   float64
dtypes: float64(20), int64(1), object(3)
memory usage: 901.0+ KB

### 15. Assign regional level feature values to country level missing feature values if regional features present

In [88]:
# Create a function to carry out assignment of regional level values to missing data in country level features
def fill_from_region(df):
    # Identify regional records
    regional_rows = df[df['country'] == df['un_region']]
    
    # Create a dictionary with those records
    regional_dict = regional_rows.set_index(['un_region', 'year']).to_dict(orient='index')
    
    # Create nested function to fill cells in row where cells are NaN
    def fill_values(row):
        region_year = (row['un_region'], row['year'])
        
        # Check to see if the region year pair exist in the regional data
        if region_year in regional_dict:
            for feature in ['cpia_regulation', 'cpia_gender', 'cpia_resources', 'cpia_transparency', 'cpia_inclusion', 'cpia_trade',
                           'healthcare$', 'education$', 'coll_enrollment', 'income_quintile2', 'income_quintile3', 'income_quintile4', 'income_quintile5',
                           'income_top10%', 'income_middle60%', 'income_difference_top-mid60', 'comm_import_capita', 'comm_export_capita']:
                if pd.isna(row[feature]): # fill only if NaN
                    row[feature] = regional_dict[region_year].get(feature, row[feature])
        return row
    # Apply function row-wise
    df = df.apply(fill_values, axis=1)
    
    return df
            
    
# Apply previous function to assign regional level feature values to missing country level feature values
df_economy = fill_from_region(df_economy)

# Drop all records where country equals un_region
df_economy = df_economy[df_economy['country'] != df_economy['un_region']]
df_economy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4429 entries, 0 to 5532
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      4429 non-null   object
 1   region                       4429 non-null   object
 2   un_region                    4429 non-null   object
 3   year                         4429 non-null   int64
 4   gdp                          4429 non-null   float64
 5   %pov                         1003 non-null   float64
 6   cpia_regulation              3229 non-null   float64
 7   cpia_gender                  3229 non-null   float64
 8   cpia_resources               3229 non-null   float64
 9   cpia_transparency            3229 non-null   float64
 10  cpia_inclusion               3229 non-null   float64
 11  cpia_trade                   3229 non-null   float64
 12  healthcare$                  1025 non-null   float64
 13  education$                   1468 non-null   float64
 14  coll_enrollment              1948 non-null   float64
 15  income_quintile2             1533 non-null   float64
 16  income_quintile3             1533 non-null   float64
 17  income_quintile4             1533 non-null   float64
 18  income_quintile5             1533 non-null   float64
 19  income_top10%                1533 non-null   float64
 20  income_middle60%             1533 non-null   float64
 21  income_difference_top-mid60  1533 non-null   float64
 22  comm_import_capita           3020 non-null   float64
 23  comm_export_capita           3020 non-null   float64
dtypes: float64(20), int64(1), object(3)
memory usage: 865.0+ KB

In [89]:
df_economy.to_csv('df_economy.csv', index=False)